body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-color1{
  background-color: #0096DB;
  color: white;
  margin-right: 4px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
}

.btn-color2{
  border:none;
  outline: 1px solid gainsboro;
  color: black;
  margin-right: 4px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
}

.form-size{
  width:50%;
}